/* .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.main-header {
  min-height: 5px;
}

.news-logo {
  font-size: 80px;
  font-weight: 600;
  font-family: "Arial", sans-serifs;
}

.news-sm {
  font-size: 25px;
}

.date {
  font-size: 18px;
  color: #e9e4e4;
}
.profile {
  font-size: 12px;
  color: #e9e4e4;
  font-weight: 600;
}
.sub {
  font-weight: 600;
  font-size: 12px;
  color: black;
  padding: 2px 20px;
}

.bars {
  font-size: 18px;
  font-weight: 800;
}

.nav-one .nav-link {
  position: relative;
  padding: 14px 15px;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.nav-one .nav-item:not(:nth-last-child(2)) .nav-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 22px;
  background-color: #cac3c3;
  content: "";
  transform: translateY(-50%);
}

.search-item {
  background: #be1313;
  max-width: 150px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .profile {
    font-size: 15px;
  }
  .sub {
    font-size: 15px;
    padding: 5 10px;
  }
}

@media (min-width: 992px) {
  .profile {
    font-size: 18px;
  }
  .sub {
    font-size: 18px;
    padding: 5 100px;
  }
}
